html, body {
	height: 100%;
	background-color: #f5f5f5;
}

.footer {
	height: 50px;
}

.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
    background-color: #28364f;
}

/*:last-child { margin-bottom: 50px !important;} */

.container {
	margin: auto;
}

* {
	margin: 0;
}


.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.jumbotron {
	background-image: url('images/loblolly-pine-plantation.jpg');
	height: 500px;
}

.jumbotron h1 {
	color: white;
	font-weight: bold;
  text-shadow: 5px 5px 3px #000;
}

.jumbotron p {
	color: white;
	text-shadow: 2px 2px 3px #000;
}

.nav {
 	background-color: #28364f;
 	margin-bottom:15px;
}

.nav li {
	display: inline;
	padding: 5px;
}

.nav a {
	color: white;
}

.homeContainer {
	margin: 50px;
	padding: 10px; 
}

.aux-container {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
	padding: 10px;
	text-align: center;
}

.aux-container p {
  font-size: 1.5em;
  
}

.aux-container li {
  text-align: left;
  font-size: 1.25em;
  padding: 5px;
}


.pm-container {
  margin: 50px;
	padding: 10px;
	text-align: center;
}

.pm-container p {
  font-size: 1.5em;
  
}

.awards-container {
  margin: 20px;
	text-align: center;
}

.awards-container p {
  font-size: 1.5em;
}

.award-list {
	padding: 10px;
	text-align: center;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

table.center, th, td {
    padding-left: 15px;
    padding-right: 15px;
}


